*{
    margin :0 auto;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
.container{
    font-weight: 400;
    font-size: 1.3125rem;
    width: min(90% ,70.5rem );
}
h1,h2,h3
{
    font-family: serif;
    line-height: 1;
    font-weight: 900;
}
h1,h2,h3,p
{
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 2em;
}
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 0px ;
}
.menu,section{
    padding: 3rem 0;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none ;
    display: inline-block ;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #000;
}
nav ul li a:hover{
    color: #f04704;
}
.sc-1 {
    color: #fff;
    background:linear-gradient(to right,rgba(59, 39, 16, 0.89) ,rgba(131, 116, 99, 0.89));
    padding-bottom : 0px;
    padding-top: 0px;
}
.sc-1 h1 , h2{
    color: rgba(224, 197, 77, 0.973);
    padding-left: 10px;
}
img{
    max-width: 100%;
}
.split {
    display: flex;
}
.contact div{
    display: inline-block;
    text-align: center;
}
.contact img{
    width: 25px;
    cursor: pointer;
    align-items: center;
}
.contact  p{
    margin-right:20px;
}
.contact >*+*{
    margin-left: 3em;
}
.img{
    width: 1200px;
}
